@mixin pc() {
    @media screen and (min-width: 1025px) {
        @content;
    }
}
@mixin tab() {
    @media screen and (min-width: 600px) and (max-width: 1024px) {
        @content;
    }
}
@mixin sp() {
    @media screen and (max-width: 599px) {
        @content;
    }
}

html {
    font-size: 62.5%;
    margin-top: 0!important;
    @include sp() {
        font-size: 50%;
    }
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    box-sizing: border-box;   
    margin: 0;
    background-color: #f6f6f4;
    @include pc() {
        row-gap: 6rem;
        display: grid;
    }
}
h1 {
    font-size: 2rem;
}
.container {
    width: 100%;
    box-sizing: border-box;
    @include pc() {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
    } 
    @include sp() {
        padding: 4%;
    }
}
p {
    margin-bottom: 2rem;
}
a {
    color: black;
    text-decoration: none;
    &:hover {
        opacity: 0.2;
    }
}
.container {
    line-height: 1.8;
}