header {
    padding: 2rem;
    background-color: #55c500;
    img {
        height: 3rem;
        background: white;
        border-radius: 20rem;
        padding: 1rem;
        opacity: 0.8;
    }
}