.home {
    .container {
        .primary {
            padding: 2rem;
            background-color: white;
        }        
    }
    display: grid;
    row-gap: 2rem;
    .posts {
        font-weight: bold;
        padding: 2rem;
    }
    h2 {
        font-size: 3rem;
    }
    .time {
        color: #999;
    }
}
