.single {
    .primary {
        padding: 2.5rem;
        background-color: white;
        h2 {
            font-size: 4rem;
            font-weight: bold;
            font-weight: bold;
            margin-bottom: 5rem;
            + p {
                margin-bottom: 2rem;   
            }
        }
        h1 {
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            margin-bottom: 2.4rem;
            margin-top: 6.4rem;
            padding-bottom: 0.5em;
        }
        pre {
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 1em;
            background-color: #364549;
            color: #e3e3e3;
            font-size: 1.5rem;
        }
    }
}